<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-list>
        <ion-row>
          <img
            src="https://img.freepik.com/free-vector/people-eating-junk-food_53876-66086.jpg?w=2000"
            alt="Slide 1 Image"
          />
        </ion-row>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <ion-list>
        <ion-row>
          <img
            src="https://img.freepik.com/free-vector/happy-people-cooking-sweet-fast-food_74855-5861.jpg?w=2000"
            alt="Slide 2 Image"
          />
        </ion-row>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <ion-list>
        <ion-row>
          <img
            src="https://thumbs.dreamstime.com/b/tiny-children-having-fun-fast-food-boys-girls-eating-junk-vector-illustration-cartoon-198213443.jpg"
            alt="Slide 3 Image"
          />
        </ion-row>
        <ion-button (click)="goToSignUp()" expand="block"
          >Get Started</ion-button
        >
      </ion-list>
    </ion-slide>
  </ion-slides>
</ion-content>
